@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");

@font-face {
    font-family: Vazir;
    src: url("./Vazir-Medium.eot");
    src: url("./Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("./Vazir-Medium.woff2") format("woff2"), url("Vazir-Medium.woff") format("woff"), url("./Vazir-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body,
input,
input::placeholder {
    font-family: "Vazir", sans-serif !important;
}

body {
    direction: rtl !important;
    text-align: right !important;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#signin div.card,
#signup div.card {
    border-radius: 1rem !important;
    box-shadow: 3px 2px 14px #cfcfcf;
}


body {
    overflow: auto;
}

    body div.container {
        margin-top: 8rem;
    }

#signin,
#signup {
    max-width: 500px;
    min-width: 400px;
    margin: auto;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}