@model CoreLayer.MessageAgg.Contract.SendMessage

<section id="Chats" class="col-12 col-lg-8 disable-element">

    <ul class="list-unstyled p-0 m-0 pb-5" current-chat-id="0">

        @* <li class="chat-box chat-box-right"> *@
        @*     <img src="~/img/avatar-3.jpg" alt="test"> *@
        @*     <div class="message-box"> *@
        @*         <p class="username">پدرام اسدی پور</p> *@
        @*         <p class="message"> *@
        @*             لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان *@
        @*             گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و *@
        @*             برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی *@
        @*             می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و *@
        @*             متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی *@
        @*             الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید *@
        @*             داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان *@
        @*             مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود *@
        @*             طراحی اساسا مورد استفاده قرار گیرد. *@
        @*         </p> *@
        @*     </div> *@
        @*     <span class="send-time">24:46 عصر</span> *@
        @* </li> *@

    </ul>
    <div class="chat-message-box">
        <form class="form-inline d-flex justify-content-center align-items-baseline" enctype="multipart/form-data">
            <input asp-for="ChatId" type="hidden">
            <input asp-for="ReceiveId" type="hidden">
            <input asp-for="Body" class="form-control p-4 w-75" placeholder="📧 پیام">
            <label class="btn p-3">
                <input asp-for="File" type="file" />
                <i class="fas fa-paperclip"></i>
            </label>
            <button type="submit" class="btn btn-dark p-3">
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>

</section>
