<section id="contact-chat-items" class="col-12 col-lg-4">

    <form>
        <div class="form-group">
            <input type="text" class="search-input p-3" placeholder="🔍 جست و جو">
        </div>
    </form>

    <ul class="list-unstyled bg-secondary1">

        @* <li onclick="openChat(this)" class="chat-item"> *@
        @*     <img class="chat-avatar" src="~/img/avatar-4.jpg" alt="test"> *@
        @*     <i class="status-point fa fa-circle text-success"></i> *@
        @*     <span class="status-alert">آنلاین</span> *@
        @*     <p class="chat-name">بابا</p> *@
        @*     <span class="last-chat-date">1400/02/01</span> *@
        @*     <p class="last-chat-text">سلام چه خبرا کجایی چی کارا میکنی؟</p> *@
        @* </li> *@

    </ul>
</section>