@model CoreLayer.AccountAgg.Contract.EditPassword

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">ویرایش رمز عبور</h4>
        </div>

        <div class="modal-body">


            <form asp-page="/Index" asp-page-handler="EditPassword"
                  method="post"
                  data-operation="true">

                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RePassword"></label>
                    <input asp-for="RePassword" class="form-control" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-secondary">ویرایش</button>

            </form>


        </div>
    </div>
</div>