<header>

    <nav id="user-detail" class="navbar navbar-light">
        <a class="navbar-brand d-flex flex-row justify-content-center current-user" href="#">
            <img id="user-avatar" src="~/img/avatar-1.png" class="d-inline-block align-top" alt="">

            <div class="connection-status mr-3">
                <p id="server-connection-status" class="text-muted">
                    در حال اتصال
                    <i class="fas fa-circle-notch fa-spin"></i>
                </p>
                <p id="user-connection-status">آنلاین</p>
            </div>
        </a>

        <a class="navbar-brand d-flex flex-row justify-content-center user-chat disable-element" href="#">
            <img id="user-chat-avatar" src="~/img/avatar-2.jpg" class="d-inline-block align-top" alt="">

            <div class="connection-status mr-3">
                <p id="user-chat-info">
                    مهرداد مفیدیان
                </p>
                <p id="user-chat-connection-status">آنلاین</p>
                <span id="user-chat-typeing-status">در حال تایپ...</span>
            </div>
        </a>

        <div>
            <div class="dropdown">
                <button class="btn outline-d" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <button onclick="back()" class="btn outline-d d-none inline-element" type="button" id="page-back">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item" href="#">
                        <i class="fa fa-address-card"></i>
                        درباره
                    </a>
                </div>
            </div>
        </div>

    </nav>
</header>
