@page
@using CoreLayer.AccountAgg.Contract
@model ServerHost.Pages.AuthModel
@{
    ViewData["Title"] = "احراز هویت";
}

<partial name="Shared/Auth/_singin" model="new SigninViewModel()"/>
<partial name="Shared/Auth/_singup" model="new SignupViewModel()"/>

@* <div asp-validation-summary="All" class="text-danger"></div> *@

@section style
{
    <link rel="stylesheet" href="~/css/auth.css" type="text/css" />
}

@section script
{
    <partial name="Shared/_ValidationScriptsPartial"/>
    <script src="~/js/auth.js" type="text/javascript"></script>
}